
:root{
    --primary-color: #f80;
    --secundary-color:#00498d;
    --dank-primary-color:#e07800;
    --dark-secundary-color:#00315f;
    --light-color:#e9e9e9;
    --dark-color:#2c2c2c;
}


.container{
    padding: 4rem 2%;
    max-width: 1100px;
    margin: 0 auto;
}
.cards_d{
    display: inline-block;
    width: 31%;
    height: 12rem;
    background-color: hsl(0, 3%, 94%);
    border-radius: 18px;
    position: relative;
    margin-left: 1rem;
   cursor: pointer;
}

.cards_d h2{
    font-size: 16px;
}

.cards_d p{
    font-size: 12px;
}

.cards_d .box-icon{
    color: #ccc;
    height: 5rem;
    width: 5rem;
   
    background-size: contain;
    border-radius: 50%;
    display: flex;
    
    margin: 20px auto;
}

.cards_d .info{
    display: block;
    height: 8rem;
    line-height: 20px;
    position: static;
    text-align: center;
}



.cards_d .page{
    font-size: 28px;
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
    margin-top: 6rem;
    
}


.line_d{
    height: 2px;
    width: 12rem;
    margin: 0 auto;
    background-color: var(--dank-primary-color);
    margin-bottom: 5rem;
}

.marcos{
     background-image: url('https://avatars.githubusercontent.com/u/131191211?v=4');
}

.jose{
    background-image: url('https://avatars.githubusercontent.com/u/114033?v=4');
}

.neymar{
     background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRUREvlCvHREdbT-Xsf2L2dmgO7AulT-6hqeDRUThJvVKKQwYuPwNatanNGyJiXSwubdlC8iTQHCPxOrsM-uuUCfg');
}
@media screen and (max-width:960px) {
    .cards_d{
        width: 46%;
    }
}

@media screen and (max-width:560px) {
    .cards_d{
        width: 60%;
        display: block;
        margin: 1rem auto;
    }

    .cards_d .box-icon{
        margin-top: 30px;
    }

    .container{
    padding: 2rem 2%;
    }
}

@media screen and (max-width:360px) {
    .cards_d{
        width: 80%;
        
    }
}
