
.form-conteiner{
    width: 100%;
    max-width: 1100px;
    display: flex;
    margin: 2% auto;
    flex-direction: column;
}

.box-form{
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
}

.box-form h2{
    color: #ff8800;
    margin-bottom: 20px;
}

.box-form input{
    width: 15rem;
    height: 1.5rem;
    padding-left: 10px;
    margin-left: 20px;
}

.box-form.justify{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-form ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.box-form ul li{
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px 18px;
    border-radius: 4px;
}

.box-form ul li:hover{
    transition: 1s;
    border: 1px solid #ff8800;
    color: #ff8800;
}

.block{
    display: block;
    margin-bottom: 20px;
}

.box-pix{
    display: none;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #ff8800;
    width: 100%;
}

.qrcode{
    background-image: url('../../../public/QRCode.png');
    height: 20rem;
    width: 20rem;
    background-size: 100% 100%;
    margin: 40px 20px 20px 20px;
}

.total-price p{
    color: #ff8800;
    font-size: 20px;
    margin-right: 60px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.total-price b{
    color: black;
    display: flex;
   
    flex-wrap: wrap;
    flex-direction: row;
    text-align: right ;
}

.total-price button{
    padding: 10px 18px;
    border-radius: 4px;
     border: 1px solid #ff8800;
    color: #ff8800;
    display: flex;
    margin: 0 auto;
   
    
}

.total-price button:hover{
    color: white;
    background-color: #ff8800;
    transition: 1s;
}

.box-cartao{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #ff8800;
    width: 100%;
}