:root{
    --primary-color: #f80;
    --secundary-color:#00498d;
    --dank-primary-color:#e07800;
    --dark-secundary-color:#00315f;
    --light-color:#e9e9e9;
    --dark-color:#2c2c2c;
}



.nav{
    background-color: white;
    padding:0.5rem 1rem ;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 10px 0px 10px 0px;
    z-index: 1;
}

.nav .inner-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
}

.logo{
    color: var(--primary-color);
}

.logo span{
    color: var(--dark-color);
}


.nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
}

.nav ul li:hover{
    transform: translateY(-4px);
    transition: all 0.2s;
    font-weight: bold;
}

.navs-icons-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navs-icons-container svg{
    height: 1.5rem;
}

.navs-icons-container .shopping-cart{
    position: relative;
}


.navs-icons-container .shopping-cart .products-count{
    content: '';
    position: absolute;
    background-color: red;
    height: 1rem;
    width: 1rem;
    bottom: -8px;
    left: -8px;
    border-radius: 50%;
    color: white;
    padding: 0.7rem;
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
}

.search-input-container{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-bottom: 1px solid var(--dark-color);
    padding: 0.5rem;
    margin: 1rem;
}

.search-input-container input{
    border: none;
    outline: none;
}

.search-input-container svg{
    height: 1rem;
    color: #808080;
}

.menu-buttom{
    display: none;
}



@media screen and (max-width:920px) {
    
.logo{
    font-size: 20px;
}
}

@media screen and (max-width:728px) {

   .logo{
    font-size: 18px;
   }

   nav{
    display: none;
   }

   nav.show{
    display: block;
   }
    
    .nav ul{
        position: absolute;
        height: 12rem;
        width: 100vw;
        background-color: white;
        display: block;
        left: 0;
        top: 87px;
        text-align: center;
       
    }

    .nav li{
         margin: 1rem 0;
    }

    .search-input-container input{
        width: 6rem;
    }

    .menu-buttom{
    display: block;
}
}

@media screen and (max-width:350px){
     .search-input-container{
        display: none;
    }

    .nav{
   
    padding:1rem 1rem ;
   
}

.nav ul{
        position: absolute;
        height: 12rem;
        width: 100vw;
        background-color: white;
        display: block;
        left: 0;
        top: 70px;
        text-align: center;
       
    }
}
